# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

- Popular Languages in Data Science
- Commonly used Libraries in Data Science
- Data Science Tools
- Simple Aritmethic Expressions
    - Convert minutes to hours
- Author's name.

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib

|Data Science Tools|
|:-:|
|RStudio|
|Apache Spark|
|Hadoop|

### Below are a few examples of arithmetic expressions in Python

In [11]:
#This a simple aritmethic expression to multiply then add integers

(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

(200*1)/60

3.3333333333333335

## Author
Alfredo Molina